#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background:Grey
}


.nutrition_li
{
  margin-top: 13px;
border-bottom-color: darkblue;
    border-left-style:dotted;
    border-left-color: darkblue;
    border-left-width: thick;
    border-bottom-width: medium;
}

.nutrition_li h4
{
    border-bottom: 1px solid green;
    padding: 8px;
}

.nutrition_li img
{
  border-radius: 25px;
}

.nutrition_li p
{
  margin-top:10px;
}

.header_entrepreneur
{
  line-height: 2;
}


